
.accordionItem{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: #18181827 solid 1px;
    padding: 10px;
    cursor: pointer;
    // list-style: none;

}
.accordionHeader{
    padding: 10px 0;
}

.accordionContent{
    transition: all .15s ease;
}
.active{
    // background-color: green;
}