$deep-shadow: 0 9px 33px 0 #0809383d;
$light-shadow: 4px 0 6px 0 #627d9833;

.contact {
  padding-top: 111px;
    height: 100%;
  .contact-container {
      max-width: 1350px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    h2 {
        text-align: start;
        font-size: 1.5rem;
        margin-bottom: 40px;
    }
    .form-and-info {
        // margin: 0 auto;
        width: 100%;
        max-width: 850px;
        display: flex;
        justify-content: center;
        background: #0570EC;
        gap: 30px;
        border-radius: 5px;
        padding-bottom: 30px;
        margin-top: 60px;
      .contact-info {
        // background: #fff;
        padding: 20px 0;
        border-radius: 5px;
        width: 100%;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        // box-shadow: $light-shadow;
        // margin-top: -30px;
        color: #fff;
        h3 {
        }
        hr{
            opacity: 0.5;
        }
        a {
            color: #fff;
            font-weight: 500;
        }
        .socials-parent {
          display: flex;
          .svg {
            max-height: 60px;
            max-width: 60px;
            transition: opacity 0.15s ease;
            cursor: pointer;
            fill: #fff;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
      .contact-form {
          background: #fff;
          width: 100%;
          border-radius: 5px;
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 25px;
          max-width: 400px;
          box-shadow: $deep-shadow;
        //   margin-bottom: 30px;
        margin-top: -50px;
          .firstname-lastname-parent{
              display: flex;
              gap: 20px;
          }
        .contact-form-item {
            width: 100%;
            display: flex;
            flex-direction: column;
          input, textarea {
              background-color: #F0F0F0;
              resize: none;
              padding: 5px;
              border: none;
              border-radius: 3px;
          }
          label {
              text-align: end;;
              margin-top: 5px;
              font-size: 0.8rem;
              font-weight: 500;
          }
        }
        .submit-button{
            align-self: flex-end;
            padding: 2px 5px;
            border: none;
            background: transparent;
            font-weight: 600;
            font-size: 1rem;
            border: 1px #181818 solid;
            border-radius: 3px;
            cursor: pointer;
        }
      }
    }
  }
}
